<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ProductController</display-name>
    <servlet-name>ProductController</servlet-name>
    <servlet-class>linkcode.shop.admin.controller.ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductController</servlet-name>
    <url-pattern>/ProductController</url-pattern>
  </servlet-mapping>
  <display-name>ServletProductAppDaocrud</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchProductController</display-name>
    <servlet-name>SearchProductController</servlet-name>
    <servlet-class>linkcode.shop.admin.controller.SearchProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProductController</servlet-name>
    <url-pattern>/SearchProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllController</display-name>
    <servlet-name>DisplayAllController</servlet-name>
    <servlet-class>linkcode.shop.admin.controller.DisplayAllController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllController</servlet-name>
    <url-pattern>/DisplayAllController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteController</display-name>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>linkcode.shop.admin.controller.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>linkcode.shop.admin.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>linkcode.shop.admin.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayServlet</display-name>
    <servlet-name>DisplayServlet</servlet-name>
    <servlet-class>linkcode.shop.admin.controller.DisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayServlet</servlet-name>
    <url-pattern>/DisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegisterController</display-name>
    <servlet-name>UserRegisterController</servlet-name>
    <servlet-class>linkcode.shop.admin.controller.UserRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterController</servlet-name>
    <url-pattern>/UserRegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistercontroller</display-name>
    <servlet-name>UserRegistercontroller</servlet-name>
    <servlet-class>linkcode.shop.user.controller.UserRegistercontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistercontroller</servlet-name>
    <url-pattern>/UserRegistercontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginController</display-name>
    <servlet-name>UserLoginController</servlet-name>
    <servlet-class>linkcode.shop.user.controller.UserLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginController</servlet-name>
    <url-pattern>/UserLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>linkcode.shop.user.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillServlet</display-name>
    <servlet-name>BillServlet</servlet-name>
    <servlet-class>linkcode.shop.user.controller.BillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillServlet</servlet-name>
    <url-pattern>/BillServlet</url-pattern>
  </servlet-mapping>
</web-app>